<div class="mid_content company-page">
    <div class="container_inner clearfix">
        <ul class="breadcrumbs no_border">
            <li><a href="#!/account">My Account</a></li>
            <li>Company</li>
        </ul>
        <div class="profile-container">
            <!-- Begin Profile Left Menu -->
            <profile-sidebar-component is-logged-in="$ctrl.isLoggedIn" class="profile-left"></profile-sidebar-component>
            <!-- End Profile Left Menu -->
            <!-- Begin Profile Content -->
            <div class="profile-content">
                <h1>COMPANY</h1>
                <div class="content-wrapper defaultScroll" mcustom-scroll="{ 'theme': theme, 'autoHide': autoHide}">
                    <div class="content_box">
                        <h2 id="about">About</h2>
                        <div class="content_box_inner">
                            <div class="content_box_inner_scrl defaultScroll" mcustom-scroll="{ 'theme': theme, 'autoHide': autoHide}">
                                <p>Socially Shoppable is a ecommerce site where you can purchase products from different  merchant and different brand using single checkout system</p>
                                <p>Coming Soon !</p>
                            </div>
                        </div>
                    </div>
                    <div class="content_box">
                        <h2 id="faq">FAQ</h2>
                        <div class="content_box_inner">
                            <div class="content_box_inner_scrl defaultScroll" mcustom-scroll="{ 'theme': theme, 'autoHide': autoHide}">
                                <p>Why Should you use our site?</p>
                                <p>
                                    <ul>
                                        <li>You can purchase product from multiple merchants/ brands in a single platform</li>
                                        <li>Using single checkout method, you can do the job done</li>
                                        <li>You can have presonalized shopping expreience in this site</li>
                                        <li>While you are shopping, you are also remain socially connected</li>
                                    </ul>
                                </p>
                                <p>Is this web site can give you presonalized expereience?</p>
                                <p>You need to click customize shop button, and choose your top ten store to have personalized shopping experience</p>
                            <p>Coming Soon !</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>