<div class="mid_content customerService-page">
  <div class="container_inner clearfix">


    <ul class="breadcrumbs no_border">
      <li><a href="#!/account">My Account</a></li>
      <li>CUSTOMER SERVICE</li>
    </ul>

    <div class="profile-container">
      <!-- Begin Profile Left Menu -->
      <profile-sidebar class="profile-left"></profile-sidebar>
      <!-- End Profile Left Menu -->
      <!-- Begin Profile Content -->
      <div class="profile-content">
        <h1>Customer Service</h1>
        <div class="content-wrapper defaultScroll" mcustom-scroll="{ 'theme': theme, 'autoHide': autoHide}">
          <div class="content_box">
            <h2 id="contact">Contact Us</h2>
            <div class="content_box_inner">
              <div class="content_box_inner_scrl defaultScroll" mcustom-scroll="{ 'theme': theme, 'autoHide': autoHide}">
                <p>Mail: style@sociallyshoppable.com</p>
                
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d211642.29500741806!2d-118.41173199999999!3d34.020499!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2sLos+Angeles%2C+CA!5e0!3m2!1sen!2sph!4v1493704889473" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				
				</div>
            </div>
          </div>
          <div class="content_box">
            <h2 id="privacy">PRIVACY POLICY</h2>
            <div class="content_box_inner">
              <div class="content_box_inner_scrl defaultScroll" mcustom-scroll="{ 'theme': theme, 'autoHide': autoHide}">
                <p> We do not use your profile details email marketing or advertising. We pass your cart details to individual merchant while you are shopping</p>
				
				<p> Coming Soon!</p>

			  </div>
            </div>
          </div>
          <div class="content_box">
            <h2 id="security">Security</h2>
            <div class="content_box_inner">
              <div class="content_box_inner_scrl defaultScroll" mcustom-scroll="{ 'theme': theme, 'autoHide': autoHide}">
                  <p> For customer protection all order are subject for review. We do not save your card details. Passed the details to twotap payment gateway</p>

                </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>


