<div class="mid_content notifyfull-page">
  <div class="container_inner clearfix">
    <section ng-class="loggedin ==1?'top_section has_sidebar':'top_section'">
      <user-sidebar></user-sidebar>
      <div class="content">
        <ul class="breadcrumbs">
          <li><a href="#!/mail">Mail</a> </li>
          <li>SS MAIL NOTIFICATION</li>
        </ul>

        <div class="mail_box_wrap">
          <div class="ss_mail_box">
            <h2>SS MAIL <span class="icon notify_no" ng-if="receive == 1"> {{undread_mails + undread_coupons }}</span></h2>
            <!--<div class="search_box" ng-if="receive == 1">
								<form>
									<input type="text" placeholder="SEARCH" ng-model="search">
									<input type="submit" value="">
								</form>
							</div>
							<div class="search_box" ng-if="receive == 2">
								<form>
									<input type="text" placeholder="SEARCH" ng-model="searchS">
									<input type="submit" value="">
								</form>
							</div> -->

            <ul class="mail_menu">
              <li ng-class="{active : receive == 1}"><a ng-click="setreceive(1)">MY MAIL</a> </li>
              <li ng-class="{active : receive == 2}"><a ng-click="setreceive(2)">SENT</a> </li>
            </ul>
            <ul class="ss_mail_list defaultScroll" mcustom-scroll="{ 'theme': theme, 'autoHide': autoHide}" ng-if="receive ==1">
              <li class="box_shadow" ng-repeat="pro in myreceivedemail|filter:search">
                <div class="close_btn" ng-if="pro.mail_type=='purchase' || pro.mail_type=='order'">
                  <span title="Delete">x</span>
                  <div class="popUp">
                    <div class="btn grey_btn" ng-click="deletereceiveMail(pro._id)">Delete Message</div>
                    <div class="btn black_btn">Cancel</div>
                  </div>
                </div>

                <div class="close_btn" ng-if="pro.mail_type!='purchase' && pro.mail_type!='order'">
                  <span title="Delete">x</span>
                  <div class="popUp">
                    <div class="btn grey_btn" ng-click="deleteUpreceiveMail(pro._id)">Delete Message</div>
                    <div class="btn black_btn">Cancel</div>
                  </div>
                </div>


                <div class="box-preview" ng-if="pro.mail_type=='purchase' || pro.mail_type=='order'">

                  <div class="preview-image">


                    <div class="preview-image-inner">
                      <img class="preview-img mCS_img_loaded" src="images/ss_logo.png" alt="">
                    </div>

                  </div>


                  <div class="username">sociallyshoppable.com</div>
                  <div class="date">{{pro.createdAt| date:'MM/dd/yyyy'}}</div>


                </div>


                <div class="box-preview" ng-if="pro.mail_type!='purchase' && pro.mail_type!='order'">
                  <div class="preview-image">
                    <div class="preview-image-inner">


                      <a href="#!/account"><img class="preview-img mCS_img_loaded" ng-src="{{userinfo.img_location}}" alt="{{userinfo.firstname}}"
                          alt=""></a>
                    </div>
                  </div>
                  <div class="username"><a title="{{userinfo.username}}" ng-bind="userinfo.username" href="#!/account"></a></div>
                  <div class="date">{{pro.createdAt| date:'MM/dd/yyyy'}}</div>
                </div>


                <div class="product_details" ng-if="pro.mail_type=='purchase' || pro.mail_type=='order'">
                  <div class="product-info">
                    <div class="product-image mini">
                      <div class="p_image_innner">
                        <img src="images/ss_logo.png" alt="">
                      </div>
                    </div>

                  </div>
                  <div class="description">

                    <div class="notify_heading">

                      <div ng-class="pro.mail_type =='order'? '' : 'falseClass'">
                        SS ORDER PROCESSING ID {{pro.mail_object.purchaseId}}</div>
                      <div ng-class="pro.mail_type =='purchase'? '' : 'falseClass'">
                        SS ORDER CONFIRM ID {{pro.mail_object.purchaseId}}</div>


                      <div><a href="http://gitlab.sociallyshoppable.com">sociallyshoppable.com</a></div>
                    </div>
                    <div class="order_itm_grp">
                      <div class="accordion_wrp">


                        <ul class="logo_list">
                          <li ng-repeat="(wsitekey,item) in pro.mail_object.sites track by $index" ng-if="pro.mail_type =='purchase'">

                            <div class="image_outer">
                              <div class="image_inner">
                                <a ng-href="{{makeusableMerchant[wsitekey].url}}"><img ng-src="{{makeusableMerchant[wsitekey].logo}}"
                                    alt="" class="mCS_img_loaded"></a>
                              </div>
                            </div>
                          </li>
                          <li ng-repeat="(wsitekey,item) in pro.mail_object.userCart.sites track by $index" ng-if="unique_mail.mail_type =='order'">

                            <div class="image_outer">
                              <div class="image_inner">
                                <a ng-href="{{makeusableMerchant[wsitekey].url}}"><img ng-src="{{makeusableMerchant[wsitekey].logo}}"
                                    alt="" class="mCS_img_loaded"></a>
                              </div>
                            </div>
                          </li>



                        </ul>
                        <!-- <div class="grand_total">Total : $2000.00</div> -->
                        <div class="m_accordion_title see_more red" ng-click="update_flag(pro._id)">See details</div>
                        <!-- <div class="accordion_title dot_more"> ... </div> -->
                        <div class="order_itm_info_grp">

                          <div class="order_ifo_grp_inner" ng-repeat="(wsitekey,item) in pro.mail_object.sites track by $index" ng-class="pro.mail_type =='purchase'? '' : 'falseClass'">
                            <div class="order_itm_grp_head">
                              <div class="image_outer">
                                <div class="image_inner">



                                  <img ng-src="{{makeusableMerchant[wsitekey].logo}}" alt="">
                                </div>
                              </div>


                              <div class="order_st_info">We got your order information &amp;you will get a confirmation message
                                with summary &amp; soon.


                              </div>
                            </div>
                            <div class="order_itm_info">
                              <h4>
                                <!-- {{item.info.url}} -->Order
                              </h4>
                              <!-- <div>Item Name : 1 Cap</div> -->
                              <div>SS Order ID : {{item.order_id}}</div>
                              <div class="est_total"><span>Subtotal</span> {{orderObj[pro.mail_object.purchaseId].userCart.sites[wsitekey].estimates.prices.subtotal
                                }}
                              </div>
                              <div class="est_total"><span>Shipping</span> {{item.prices.shipping_price}}</div>


                              <div ng-class="item.prices.hasOwnProperty('sales_tax')? 'est_total' : 'falseClass'"> <span>Taxes</span>
                                {{item.prices.sales_tax}} </div>
                              <div ng-class="item.prices.hasOwnProperty('sales_tax')? 'falseClass' : 'est_total'"> <span>Taxes</span>
                                {{orderObj[pro.mail_object.purchaseId].userCart.sites[wsitekey].estimates.prices.sales_tax }} </div>
                              <div ng-class="item.prices.hasOwnProperty('coupon_value')? 'est_total' : 'falseClass'"> <span>Coupon</span>
                                - {{item.prices.coupon_value}} </div>


                              <div class="est_total"><span>Total :</span> {{item.prices.final_price}}</div>
                              <div class="drpDown_wrp">
                                <div class="detls_cal" style="display:none">
                                  <ul class="product_list defaultScroll" mcustom-scroll="{ 'theme': theme, 'autoHide': autoHide}">
                                    <li ng-repeat="(prokey,proMd5) in item.products track by $index">
                                      <div class="product-image micro">
                                        <div class="p_image_innner">
                                          <img ng-src="{{proMd5.image}}" alt="">
                                          <div class="rateit">
                                            <div class="rateis r{{proMd5.rateAvg| makePositive}}">
                                            </div>
                                          </div>
                                          <!-- <a class="quick-product" data-toggle="modal" data-target="#quick-popup">+</a> -->
                                        </div>
                                      </div>
                                      <div class="product_info">
                                        <div title="{{proMd5.title}}"><a ng-click="quick_view_parent_orders(orderObj[unique_mail.purchaseId].userCart.sites[wsitekey].add_to_cart[prokey].catalogId)"
                                            title="{{orderObj[unique_mail.purchaseId].userCart.sites[wsitekey].add_to_cart[prokey].catalogId}}"
                                            alt="{{orderObj[unique_mail.purchaseId].userCart.sites[wsitekey].add_to_cart[prokey].catalogId}}">{{proMd5.input_fields.quantity}}
                                            {{proMd5.title}}
                                          </a></div>
                                        <div>{{orderObj[pro.mail_object.purchaseId].userCart.sites[wsitekey].add_to_cart[prokey].brand
                                          }}
                                        </div>
                                        <div title="{{prokey}}">Web ID: <a ng-href="#!/SOC/{{orderObj[unique_mail.purchaseId].userCart.sites[wsitekey].add_to_cart[prokey].catalogId }}/{{proMd5.title | slugify}}"
                                            title="{{proMd5.catalogId}}" alt="{{proMd5.catalogId}}">{{orderObj[pro.mail_object.purchaseId].userCart.sites[wsitekey].add_to_cart[prokey].catalogId
                                            }}
                                          </a></div>
                                        <div class="product-price">${{(proMd5.price.substring(1) *1.0) * proMd5.input_fields.quantity
                                          }}
                                        </div>
                                        <div ng-class="proMd5.status =='done'? 'falseClass' : 'red'">
                                          Out Of Stock
                                        </div>
                                        <div ng-class="proMd5.status =='done'? '' : 'falseClass'">
                                          In Stock
                                        </div>

                                      </div>
                                      <!--    <div class="ur_promotion"><span>Promotion ( 40% off ! )</span> <span class="red">- $50</span> </div>


                                                                                           <div class="ur_promotion" ng-class="((proMd5.original_price.substring(1) *1.0 - proMd5.price.substring(1) *1.0) *  proMd5.quantity) > 0 ?'ur_promotion':'falseClass'" ><span ng-show="proMd5.percentOff !=null && proMd5.percentOff !=''">Promotion ( {{proMd5.percentOff}}% off ! )</span> <span class="red">- {{((proMd5.orig_price - proMd5.price.substring(1) *1.0) *  proMd5.quantity)| currency}}</span> </div>
                                                                                           <div class="ur_promotion" ng-class="((proMd5.original_price.substring(1) *1.0 - proMd5.price.substring(1) *1.0) *  proMd5.quantity) < 0 ?'ur_promotion':'falseClass'" ><span ng-show="proMd5.percentOff !=null && proMd5.percentOff !=''">Promotion ( {{proMd5.percentOff}}% off ! )</span> <span class="red">+ {{((proMd5.price.substring(1) *1.0 - proMd5.orig_price) *  proMd5.quantity)| currency}}</span> </div>
    -->



                                    </li>


                                  </ul>
                                </div>
                                <div class="see_detls red">SEE DETAILS</div>
                              </div>
                            </div>

                            <div class="order_itm_info">
                              <h4>Payment Info</h4>
                              <div>Payment By :{{orderObj[pro.mail_object.purchaseId].userCart.sites[wsitekey].card.type
                                }} card end with {{orderObj[pro.mail_object.purchaseId].userCart.sites[wsitekey].card.card_number|
                                limitTo : -4 : 0 }}</div>
                              <div>Payment Date : {{mkey*1000| date:'MM/dd/yyyy'}}</div>
                            </div>
                            <div class="order_itm_info">
                              <h4>Shipping Info</h4>
                              <div ng-class="item.details.hasOwnProperty('shipping_estimate')? '' : 'falseClass'">Est. Delivery
                                : {{item.details.shipping_estimate}}</div>
                              <div ng-class="item.details.hasOwnProperty('shipping_estimate')? 'falseClass' : ''">Est. Delivery
                                : {{orderObj[pro.mail_object.purchaseId].userCart.sites[wsitekey].estimates.delivery_days.min}}
                                - {{orderObj[unique_mail.purchaseId].userCart.sites[wsitekey].estimates.delivery_days.max}}
                                business days</div>


                              <div> Shipping To: <br> {{orderObj[pro.mail_object.purchaseId].fields_input[wsitekey].noauthCheckout.shipping_first_name}}
                                {{orderObj[pro.mail_object.purchaseId].fields_input[wsitekey].noauthCheckout.shipping_last_name}}
                                <br> {{orderObj[pro.mail_object.purchaseId].fields_input[wsitekey].noauthCheckout.shipping_address}}
                                <br> {{orderObj[pro.mail_object.purchaseId].fields_input[wsitekey].noauthCheckout.shipping_city}}
                                , {{orderObj[pro.mail_object.purchaseId].fields_input[wsitekey].noauthCheckout.shipping_state}}
                              </div>
                            </div>
                          </div>


                          <div class="order_ifo_grp_inner" ng-repeat="(wsitekey,item) in pro.userCart.sites track by $index" ng-class="pro.mail_type =='order'? '' : 'falseClass'">
                            <div class="order_itm_grp_head">
                              <div class="image_outer">
                                <div class="image_inner"> <img ng-src="{{item.info.logo}}" alt=""></div>
                              </div>
                              <div class="order_st_info">We got your order information &amp; you will get a confirmation
                                message &amp; soon.


                              </div>
                            </div>
                            <div class="order_itm_info">
                              <h4>{{item.info.url}} Order</h4>
                              <!--  <div>Item Name : 1 Cap</div> -->
                              <div>Order ID : Pending</div>
                              <div class="est_total"><span>Subtotal</span> {{item.estimates.prices.subtotal}}</div>
                              <div class="est_total"><span>Shipping</span>{{item.estimates.prices.shipping_price}}</div>
                              <div class="est_total"><span>Taxes</span> {{item.estimates.prices.sales_tax}}</div>
                              <!--                                                                         <div class="est_total"><span>Savings</span> -$9</div>
                                                                         -->
                              <div class="est_total"><span>Total :</span> {{item.estimates.prices.final_price}}</div>
                              <!--  	<div>
                                                                                      <span data-toggle="modal" data-target="#returnPolicy"><u><a ng-click="return_policy(item.returns,item.info.name,item.info.logo)">Return Policy</a></u></span>
                                                                          </div> -->

                              <div class="drpDown_wrp">
                                <div class="detls_cal" style="display:none">
                                  <ul class="product_list defaultScroll" mcustom-scroll="{ 'theme': theme, 'autoHide': autoHide}">
                                    <li ng-repeat="(prokey,proMd5) in item.add_to_cart track by $index">
                                      <div class="product-image micro">
                                        <div class="p_image_innner">
                                          <img ng-src="{{proMd5.image}}" alt="">
                                          <div class="rateit">
                                            <div class="rateis r{{proMd5.rateAvg| makePositive}}">
                                            </div>
                                          </div>
                                          <!-- <a class="quick-product" data-toggle="modal" data-target="#quick-popup">+</a> -->
                                        </div>
                                      </div>
                                      <!-- <a ng-click="quick_view_parent_orders(orderObj[unique_mail.purchaseId].userCart.sites[wsitekey].add_to_cart[prokey].catalogId)" title="{{orderObj[unique_mail.purchaseId].userCart.sites[wsitekey].add_to_cart[prokey].catalogId}}" alt="{{orderObj[unique_mail.purchaseId].userCart.sites[wsitekey].add_to_cart[prokey].catalogId}}">{{proMd5.input_fields.quantity}} -->
                                      <!-- {{proMd5.title}}</a> -->
                                      <div class="product_info">
                                        <div title="{{proMd5.title}}">{{proMd5.quantity}} <a ng-click="quick_view_parent_orders(proMd5.catalogId)">
                                            {{proMd5.title}}</a></div>
                                        <div>{{proMd5.brand}}</div>
                                        <div title="{{prokey}}">Web ID: <a ng-href="#!/SOC/{{proMd5.catalogId}}/{{proMd5.title | slugify}}"
                                            title="{{proMd5.catalogId}}" alt="{{proMd5.catalogId}}">{{proMd5.catalogId}}</a></div>
                                        <div class="product-price">${{(proMd5.price.substring(1)*1.0)*proMd5.quantity}}</div>
                                      </div>
                                      <!--                                                                                         <div class="ur_promotion"><span>Promotion ( 40% off ! )</span> <span class="red">- $50</span> </div>
                                                                                         -->
                                      <div class="ur_promotion" ng-class="((proMd5.orig_price - proMd5.price.substring(1) *1.0) *  proMd5.quantity) > 0 ?'ur_promotion':'falseClass'"><span
                                          ng-show="proMd5.percentOff !=null && proMd5.percentOff !=''">Promotion ( {{proMd5.percentOff}}%
                                          off ! )</span> <span class="red">- {{((proMd5.orig_price - proMd5.price.substring(1)
                                          *1.0) * proMd5.quantity)| currency}}</span> </div>
                                      <div class="ur_promotion" ng-class="((proMd5.orig_price - proMd5.price.substring(1) *1.0) *  proMd5.quantity) < 0 ?'ur_promotion':'falseClass'"><span
                                          ng-show="proMd5.percentOff !=null && proMd5.percentOff !=''">Promotion ( {{proMd5.percentOff}}%
                                          off ! )</span> <span class="red">+ {{((proMd5.price.substring(1) *1.0 - proMd5.orig_price)
                                          * proMd5.quantity)| currency}}</span> </div>



                                    </li>


                                  </ul>

                                </div>
                                <div class="see_detls red">SEE DETAILS</div>
                              </div>
                            </div>

                            <div class="order_itm_info">
                              <h4>Payment Info</h4>
                              <div>Payment By : Visa card</div>


                              <div>Payment Date : {{mkey*1000| date:'MM/dd/yyyy'}}</div>
                            </div>
                            <div class="order_itm_info">
                              <h4>Shipping Info</h4>
                              <div>Est. Delivery : {{item.estimates.delivery_days.min}} - {{item.estimates.delivery_days.max}}
                                Business Days</div>
                              <div> Shipping To: <br> {{item.shipping.firstname}} &nbsp; {{item.shipping.lastname}} <br>                                {{item.shipping.address1}}
                                <br> {{item.shipping.address2}} <br> {{item.shipping.city}}, {{item.shipping.state}}
                              </div>
                            </div>
                          </div>
                          <div ng-class="pro.mail_type =='purchase'? '' : 'falseClass'"><a href="#!/confirmation_placed_view/{{unique_mail.purchaseId}}/{{userinfo._id}}"
                              target="_blank">Open in another Page</a> </div>
                          <div ng-class="pro.mail_type =='order'? '' : 'falseClass'"><a href="#!/order_placed_view/{{unique_mail.purchaseId}}"
                              target="_blank">Open in another Page</a> </div>
                        </div>
                      </div>



                    </div>

                  </div>
                </div>



                <div class="product_details" ng-if="pro.mail_type!='purchase' && pro.mail_type!='order'">
                  <div class="product-info">
                    <div class="product-image mini">
                      <div class="p_image_innner">
                        <img ng-src="{{pro.product.image_url}}" alt="">
                        <div class="rateit">
                          <div class="rateis r{{pro.product.rateAvg| makePositive}}">
                          </div>
                        </div>
                        <a class="quick-product" data-toggle="modal" data-target="#quick-popup" ng-click="set_current_product_common_sim(proMd5,item,prokey,wsitekey,pro.product)">+</a>
                      </div>
                    </div>



                    <div class="zoomed_s_icons_wrap dsktp_hide">
                      <ul class="zoomed_s_icons">
                        <li>
                          <i class="icon grey_heart"></i>
                          <span ng-bind="pro.product.likeCount || '0'"></span>

                        </li>
                        <li>
                          <i class="icon grey_arrow"></i>
                          <span ng-bind="pro.product.shareCount || '0'"></span>
                        </li>
                        <li>
                          <i class="icon grey_bag"></i>
                          <span ng-bind="pro.product.ratedByUser || '0'"></span>

                        </li>
                      </ul>
                    </div>

                    <ul class="shared_icons small">


                      <li ng-click="openSocialPopup(pro.product, 'like', $event)" ng-class="{active: pro.product==socialPopupProduct && socialPopupTab==='like'}">
                        <i class="icon grey_heart" ng-class="{activated: pro.product.likeUser}"></i>
                        <span ng-bind="pro.product.likeCount || '0'"></span>
                      </li>
                      <li ng-click="openSocialPopup(pro.product, 'mail', $event)" ng-class="{active: pro.product==socialPopupProduct && socialPopupTab==='mail'}">
                        <i class="icon grey_arrow" ng-class="{activated: pro.product.mailUser}"></i>
                        <span ng-bind="pro.product.shareCount || '0'"></span>
                      </li>
                      <li ng-click="openSocialPopup(pro.product, 'collective', $event)" ng-class="{active: pro.product==socialPopupProduct && socialPopupTab==='collective'}">
                        <i class="icon grey_bag" ng-class="{activated: pro.product.reviewUser}"></i>
                        <span ng-bind="pro.product.ratedByUser || '0'"></span>
                      </li>

                    </ul>


                  </div>
                  <div class="description">
                    <div class="notify_heading">
                      <div class="text-uppercase">{{pro.subject}}</div>
                      <!-- <div>This item has dropped in price.<br> -->
                      <!-- From <del class="red">$ {{pro.price}}</del> Now <span class="red">${{pro.price_sale}}</span> -->
                      <!-- </div> -->
                    </div>

                    <div class="shared_to"><strong>FROM: </strong>{{ pro.from }}

                    </div>
                    <p ng-bind-html="pro.text"> </p>


                  </div>
                </div>



              </li>

              <li ng-repeat="couponObj in twotap_coupon|filter:search track by $index" ng-show="sitesTwotap.hasOwnProperty(couponObj.site_id)"
                class="box_shadow">
                <div class="close_btn">
                  <span title="Delete">x</span>
                  <div class="popUp">
                    <div class="btn grey_btn" ng-click="remove_coupon_from_mylist(couponObj.site_id,couponObj.code)">Delete
                      Message
                    </div>
                    <div class="btn black_btn">Cancel</div>
                  </div>
                </div>

                <div class="box-preview">
                  <div class="preview-image">
                    <div class="preview-image-inner">
                      <img class="preview-img" ng-src="{{sitesTwotap[couponObj.site_id].logo}}" alt="">
                    </div>
                  </div>
                  <div class="username" title="{{sitesTwotap[couponObj.site_id].name}}">{{sitesTwotap[couponObj.site_id].name}}</div>
                  <div class="date">{{couponObj.createdAt}}</div>
                </div>


                <div class="product_details">

                  <div class="product-info">
                    <div class="product-image mini">
                      <div class="p_image_innner">
                        <img ng-src="{{sitesTwotap[couponObj.site_id].logo}}" alt="">

                      </div>
                    </div>

                  </div>


                  <div class="description">
                    <div class="notify_heading">
                      <div class="text-uppercase">Coupon code alert!</div>
                      <div>{{couponObj.label}}<br> Use code <b class="red">{{couponObj.code}}</b>

                        <!-- <div ng-repeat="crule2 in couponObj.rules"> crule2 </div> -->
                      </div>
                    </div>
                    <p class="light_grey italic">{{couponObj.starts_at| date:'MM/dd/yyyy'}} untill {{couponObj.ends_at| date:'MM/dd/yyyy'}}</p>
                    <div class="light_grey">#HappyShopping #SocShop</div>
                  </div>



                </div>
              </li>


            </ul>
            <ul class="ss_mail_list defaultScroll" mcustom-scroll="{ 'theme': theme, 'autoHide': autoHide}" ng-if="receive == 2">

              <li class="box_shadow" ng-repeat="pro in mysentemail|filter:searchS">
                <div class="close_btn">
                  <span title="Delete">x</span>
                  <div class="popUp">
                    <div class="btn grey_btn" ng-click="deletesentMail(pro._id)">Delete Message</div>
                    <div class="btn black_btn">Cancel</div>
                  </div>
                </div>


                <div class="box-preview">
                  <div class="preview-image">
                    <div class="preview-image-inner">


                      <a href="#!/account"><img class="preview-img mCS_img_loaded" ng-src="{{userinfo.img_location}}" alt="{{userinfo.firstname}}"
                          alt=""></a>
                    </div>
                  </div>
                  <div class="username"><a title="{{userinfo.username}}" ng-bind="userinfo.username" href="#!/account"></a></div>
                  <div class="date">{{pro.createdAt| date:'MM/dd/yyyy'}}</div>
                </div>
                <div class="product_details">
                  <div class="product-info">
                    <div class="product-image mini">
                      <div class="p_image_innner">
                        <img ng-src="{{pro.product.image_url}}" alt="">
                        <div class="rateit">
                          <div class="rateis r{{pro.product.rateAvg| makePositive}}">
                          </div>
                        </div>
                        <a class="quick-product" data-toggle="modal" data-target="#quick-popup" ng-click="set_current_product_common_sim(proMd5,item,prokey,wsitekey,pro.product)">+</a>
                      </div>
                    </div>



                    <div class="zoomed_s_icons_wrap dsktp_hide">
                      <ul class="zoomed_s_icons">
                        <li>
                          <i class="icon grey_heart"></i>
                          <span ng-bind="pro.product.likeCount || '0'"></span>

                        </li>
                        <li>
                          <i class="icon grey_arrow"></i>
                          <span ng-bind="pro.product.shareCount || '0'"></span>
                        </li>
                        <li>
                          <i class="icon grey_bag"></i>
                          <span ng-bind="pro.product.ratedByUser || '0'"></span>

                        </li>
                      </ul>
                    </div>

                    <ul class="shared_icons small">


                      <li ng-click="openSocialPopup(pro.product, 'like', $event)" ng-class="{active: pro.product==socialPopupProduct && socialPopupTab==='like'}">
                        <i class="icon grey_heart" ng-class="{activated: pro.product.likeUser}"></i>
                        <span ng-bind="pro.product.likeCount || '0'"></span>
                      </li>
                      <li ng-click="openSocialPopup(pro.product, 'mail', $event)" ng-class="{active: pro.product==socialPopupProduct && socialPopupTab==='mail'}">
                        <i class="icon grey_arrow" ng-class="{activated: pro.product.mailUser}"></i>
                        <span ng-bind="pro.product.shareCount || '0'"></span>
                      </li>
                      <li ng-click="openSocialPopup(pro.product, 'collective', $event)" ng-class="{active: pro.product==socialPopupProduct && socialPopupTab==='collective'}">
                        <i class="icon grey_bag" ng-class="{activated: pro.product.reviewUser}"></i>
                        <span ng-bind="pro.product.ratedByUser || '0'"></span>
                      </li>

                    </ul>


                  </div>
                  <div class="description">
                    <div class="notify_heading">
                      <div class="text-uppercase">{{pro.subject}}</div>
                      <!-- <div>This item has dropped in price.<br> -->
                      <!-- From <del class="red">$ {{pro.price}}</del> Now <span class="red">${{pro.price_sale}}</span> -->
                      <!-- </div> -->
                    </div>

                    <div class="shared_to"><strong>SHARED: </strong>{{ pro.to }}

                    </div>
                    <p ng-bind-html="pro.text"> </p>
                    <!-- <p>Check it out before it's gone! </p> -->
                    <!-- <div class="lightgrey">#HappyShopping #SocShop</div> -->

                  </div>
                </div>
              </li>


            </ul>






          </div>
          <div class="ss_mail_box">
            <h2>SS NOTIFICATIONS <span class="icon notify_no" ng-bind="salenotification"></span></h2>
            <div class="search_box">
              <form>
                <input type="text" placeholder="SEARCH" ng-model="notification">
                <input type="submit" value="">
              </form>
            </div>
            <ul class="ss_mail_list defaultScroll" mcustom-scroll="{ 'theme': theme, 'autoHide': autoHide}">




              <!-- Subscription Notification box
										<li class="box_shadow">
											<div class="box-preview">
												<div class="preview-image">
													<div class="preview-image-inner">
														<img class="preview-img" src="images/saksfifthave.png" alt="">
													</div>
												</div>
												<div class="username"><a href="#">sakesfifthavenue.com</a></div>
												<div class="date">Just Now</div>
											</div>
											<div class="product_details">
												<div class="product-info subscrpNoti">
													<div class="product-image mini">
														<div class="p_image_innner">
															<img src="images/saksfifthave.png" alt="">
															<button class="btn btn-subscribe-now"  data-toggle="modal" data-target="#promotionPopup1">Subscribed</button>
														</div>
													</div>
													<div class="zoomed_s_icons_wrap dsktp_hide">
														<ul class="zoomed_s_icons">
															<li>
																<i class="icon grey_heart"></i>
															</li>
															<li>
																<i class="icon grey_arrow activated"></i>
																
															</li>
															<li>
																<i class="icon grey_bag"></i>
															</li>
														</ul>
													</div>
													<ul class="shared_icons small">
														<li>
															<i class="icon grey_heart"></i>
															<span>123</span>
														</li>
														<li>
															<i class="icon grey_arrow"></i>
															<span>456</span>
														</li>
														<li>
															<i class="icon grey_bag"></i>
															<span>789</span>
														</li>
													</ul>
												</div> 
												<div class="description">
													<div class="notify_heading">
														<div class="text-uppercase">Subscription Notification</div>
														<div><a href="#" title="sakesfifthavenue.com">sakesfifthavenue.com</a></div>
													</div>

													<div>You are now subscribed to: <br> sakesfifthavenue.com notification(s) </div>

													<ul class="list-group no_border_li">
														<li>
															<input type="checkbox" id="listdemoid2">
															<label for="listdemoid2" class="checked">Get notifications of sales &amp; promotional events</label>
														</li>
														<li>
															<input type="checkbox" id="listdemoid3">
															<label for="listdemoid3" class="checked">Coupon codes and coupons</label>
														</li>
													</ul>
												</div>											   
											</div>
										</li> -->
              <!-- Coupon code alert box
										<li class="box_shadow">
											<div class="box-preview">
												<div class="preview-image">
													<div class="preview-image-inner">
														<img class="preview-img" src="images/asos.jpg" alt="">
													</div>
												</div>
												<div class="username"><a href="#" title="asos.com">asos.com</a></div>
												<div class="date">Just Now</div>
											</div>
											<div class="product_details">
												<div class="product-info">
													<div class="product-image mini">
														<div class="p_image_innner">
															<img src="images/asos_offer.jpg" alt="">
														   
															<div class="rateit">
																<div class="rateis">
																</div>
															</div>
															<a class="quick-product" data-toggle="modal" data-target="#promotionPopup2">+</a>
														</div>
													</div>
													<div class="zoomed_s_icons_wrap dsktp_hide">
														<ul class="zoomed_s_icons">
															<li>
																<i class="icon grey_heart"></i>
															</li>
															<li>
																<i class="icon grey_arrow activated"></i>
																
															</li>
															<li>
																<i class="icon grey_bag"></i>
															</li>
														</ul>
													</div>
													<ul class="shared_icons small">
														<li>
															<i class="icon grey_heart"></i>
															<span>123</span>
														</li>
														<li>
															<i class="icon grey_arrow"></i>
															<span>456</span>
														</li>
														<li>
															<i class="icon grey_bag"></i>
															<span>789</span>
														</li>
													</ul>
												</div> 
												<div class="description">
													<div class="notify_heading">
														<div class="text-uppercase">Coupon code alert!</div>
														<div>20% off of full price items<br> Use code <b class="red">20Ffa456</b>
														</div>
													</div>
													<div class="light_grey italic">Now untill 7/30/16</div>
													<div class="light_grey">#HappyShopping #SocShop</div>
												</div>											   
											</div>
										</li> -->



              <!-- Price drop alert box-->


              <li class="box_shadow" ng-repeat="pro in saleproducts|filter:notification">
                <!-- <div class="close_btn"> -->
                <!-- <span title="Delete">x</span> -->
                <!-- <div class="popUp"> -->
                <!-- <div class="btn grey_btn">Delete Message</div> -->
                <!-- <div class="btn black_btn">Cancel</div> -->
                <!-- </div> -->
                <!-- </div> -->

                <div class="box-preview">
                  <div class="preview-image">
                    <div class="preview-image-inner">
                      <img class="preview-img mCS_img_loaded" ng-src="{{makeusableMerchant[pro.site_id].logo}}" alt="">
                    </div>
                  </div>
                  <div class="username"><a title="{{pro.merchant}}" ng-bind="pro.merchant"></a></div>
                  <!-- <div class="date">12/02/13</div> -->
                </div>
                <div class="product_details">
                  <div class="product-info">
                    <div class="product-image mini">
                      <div class="p_image_innner">
                        <img ng-src="{{pro.image_url}}" alt="">
                        <div class="rateit">
                          <div class="rateis r{{pro.rateAvg| makePositive}}">
                          </div>
                        </div>
                        <a class="quick-product" data-toggle="modal" data-target="#quick-popup" ng-click="set_current_product_common_sim(proMd5,item,prokey,wsitekey,pro)">+</a>
                      </div>
                    </div>



                    <div class="zoomed_s_icons_wrap dsktp_hide">
                      <ul class="zoomed_s_icons">
                        <li>
                          <i class="icon grey_heart"></i>
                          <span ng-bind="pro.likeCount || '0'"></span>

                        </li>
                        <li>
                          <i class="icon grey_arrow"></i>
                          <span ng-bind="pro.shareCount || '0'"></span>
                        </li>
                        <li>
                          <i class="icon grey_bag"></i>
                          <span ng-bind="pro.ratedByUser || '0'"></span>

                        </li>
                      </ul>
                    </div>

                    <ul class="shared_icons small">


                      <li ng-click="openSocialPopup(pro, 'like', $event)" ng-class="{active: pro==socialPopupProduct && socialPopupTab==='like'}">
                        <i class="icon grey_heart" ng-class="{activated: pro.likeUser}"></i>
                        <span ng-bind="pro.likeCount || '0'"></span>
                      </li>
                      <li ng-click="openSocialPopup(pro, 'mail', $event)" ng-class="{active: pro==socialPopupProduct && socialPopupTab==='mail'}">
                        <i class="icon grey_arrow" ng-class="{activated: pro.mailUser}"></i>
                        <span ng-bind="pro.shareCount || '0'"></span>
                      </li>
                      <li ng-click="openSocialPopup(pro, 'collective', $event)" ng-class="{active: pro==socialPopupProduct && socialPopupTab==='collective'}">
                        <i class="icon grey_bag" ng-class="{activated: pro.rateUser}"></i>
                        <span ng-bind="pro.ratedByUser || '0'"></span>
                      </li>

                    </ul>


                  </div>
                  <div class="description">
                    <div class="notify_heading">
                      <div class="text-uppercase">Price Drop alert!</div>
                      <div>This {{pro.keyword}}, has dropped in price.<br> From <del class="red">$ {{pro.price}}</del> Now
                        <span class="red">${{pro.price_sale}}</span>
                      </div>
                    </div>

                    <!-- <div class="shared_to"><strong>SHARED: </strong>{{ sharedMail }} -->
                    <!-- <div class="shared_to"><strong>SHARED: </strong>{{ sharedMail  | cut:true:100:' ...'}} -->
                    <!-- </div> -->

                    <p>Check it out before it's gone! </p>
                    <div class="lightgrey">#HappyShopping #SocShop</div>

                  </div>
                </div>
              </li>


              <!-- Upcoming sale alert box
										<li class="box_shadow">
											<div class="box-preview">
												<div class="preview-image">
													<div class="preview-image-inner">
														<img class="preview-img" src="images/gilts.jpg" alt="">
													</div>
												</div>
												<div class="username" title="gilt.com"><a href="#">gilt.com</a></div>
												<div class="date">2 Day(s) ago</div>
											</div>
											<div class="product_details">
												<div class="product-info">
													<div class="product-image mini">
														<div class="p_image_innner">
															<img src="images/giltl.jpg" alt="">
															<div class="rateit">
																<div class="rateis">
																</div>
															</div>
															<a class="quick-product" data-toggle="modal" data-target="#promotionPopup4">+</a>										
														</div>
													</div>
													<div class="zoomed_s_icons_wrap dsktp_hide">
														<ul class="zoomed_s_icons">
															<li>
																<i class="icon grey_heart"></i>
															</li>
															<li>
																<i class="icon grey_arrow activated"></i>
																
															</li>
															<li>
																<i class="icon grey_bag"></i>
															</li>
														</ul>
													</div>
													<ul class="shared_icons small">
														<li>
															<i class="icon grey_heart"></i>
															<span>123</span>
														</li>
														<li>
															<i class="icon grey_arrow"></i>
															<span>456</span>
														</li>
														<li>
															<i class="icon grey_bag"></i>
															<span>789</span>
														</li>
													</ul>
												</div> 
												<div class="description">
													<div class="notify_heading">
														<div class="text-uppercase">Upcoming Sale Alert!</div>
														<div>Women's summer sale begins soon<br>
															Starts 2/12/14 
														</div>
													</div>

													<div class="lightgrey">#HappyShopping #SocShop</div>

												</div>											   
											</div>
										</li>
										 Sale alert box
										<li class="box_shadow">
											<div class="box-preview">
												<div class="preview-image">
													<div class="preview-image-inner">
														<img class="preview-img" src="images/bedbaths.jpg" alt="">
													</div>
												</div>
												<div class="username" title="bathbathandbeond.com"><a href="#">bathbathandbeond.com</a> </div>
												<div class="date">1 Day(s) ago</div>
											</div>
											<div class="product_details">
												<div class="product-info">
													<div class="product-image mini">
														<div class="p_image_innner">
															<img src="images/bedbathl.jpg" alt="">
															<div class="rateit">
																<div class="rateis">
																</div>
															</div>
															<a class="quick-product" data-toggle="modal" data-target="#promotionPopup5">+</a>										
														</div>
													</div>
													<div class="zoomed_s_icons_wrap dsktp_hide">
														<ul class="zoomed_s_icons">
															<li>
																<i class="icon grey_heart"></i>
															</li>
															<li>
																<i class="icon grey_arrow activated"></i>
																
															</li>
															<li>
																<i class="icon grey_bag"></i>
															</li>
														</ul>
													</div>
													<ul class="shared_icons small">
														<li>
															<i class="icon grey_heart"></i>
															<span>123</span>
														</li>
														<li>
															<i class="icon grey_arrow"></i>
															<span>456</span>
														</li>
														<li>
															<i class="icon grey_bag"></i>
															<span>789</span>
														</li>
													</ul>
												</div> 
												<div class="description">
													<div class="notify_heading">
														<div class="text-uppercase">Sale Alert! / Notification</div>
														<div>Valentine's Day Sale 2/10/14 </div>
													</div>
													<div>This event is currently taking place now! </div>
													<div class="lightgrey">#HappyShopping #SocShop_deals</div>

												</div>											   
											</div>
										</li> 
										
										<li class="box_shadow">
											<div class="box-preview">
												<div class="preview-image">
													<div class="preview-image-inner">
														<img class="preview-img" src="images/ss_logo.png" alt="">
													</div>
												</div>
												<div class="username" title="bathbathandbeond.com"><a href="#">Soc. Shop. Collective</a> </div>
												<div class="date">1 Day(s) ago</div>
											</div>
											<div class="product_details">
												<div class="product-info">
													<div class="product-image mini">
														<div class="p_image_innner">
															<img src="images/upload_img_women.jpg" alt="">
															<div class="rateit">
																<div class="rateis r6">
																</div>
															</div>
															<a class="quick-product" data-toggle="modal" data-target="#promotionPopup6">+</a>										
														</div>
													</div>
													<div class="zoomed_s_icons_wrap dsktp_hide">
														<ul class="zoomed_s_icons">
															<li>
																<i class="icon grey_heart"></i>
															</li>
															<li>
																<i class="icon grey_arrow activated"></i>
																
															</li>
															<li>
																<i class="icon grey_bag"></i>
															</li>
														</ul>
													</div>
													<ul class="shared_icons small">
														<li>
															<i class="icon grey_heart"></i>
															<span>123</span>
														</li>
														<li>
															<i class="icon grey_arrow"></i>
															<span>456</span>
														</li>
														<li>
															<i class="icon grey_bag"></i>
															<span>789</span>
														</li>
													</ul>
												</div> 
												<div class="description">
													<div class="notify_heading">
														<div class="text-uppercase">Your Collective Review  was Submitted</div>
														<div>Thanks for sharing through Soc. Shop. Collective!</div>
													</div>
													<div>Thanks for sharing your rating, review and/or collective photo(s). Here is a link to your review: http://.. </div>
													<div class="p_t_10">To edit your review click the shopping bag share icon and make your edit(s)</div>
													<div class="lightgrey">#HappyShopping #Collectivelove #SocShopCollective</div>

												</div>											   
											</div>
										</li> -->


            </ul>
          </div>
        </div>
        <!-- <div class="related_cat"> -->
        <!-- <ul> -->
        <!-- <li>Popular:</li> -->
        <!-- <li><a href="">Clear Bag</a></li> -->
        <!-- <li><a href="">Leather Bags</a></li> -->
        <!-- <li><a href="">Crossbody Bag</a></li> -->
        <!-- <li><a href="">Prada Bag</a></li> -->
        <!-- <li><a href="">Dooney Bourke Bag</a></li> -->
        <!-- </ul> -->
        <!-- </div> -->

        <div class="happy_shopping">
          <a href="" role="button" alt="Socially Shoppable">HAPPY SHOPPING <i class="icon"></i> </a>
        </div>


      </div>
      <!-- End Search Product List -->


      <!-- End sidebar -->


  </div>




</div>

</div>