<div class="mid_content policy-page">
  <div class="container_inner clearfix">
    <ul class="breadcrumbs no_border">
      <li><a href="#!/account">My Account</a></li>
      <li>POLICIES</li>
    </ul>
    <div class="profile-container">
      <!-- Begin Profile Left Menu -->
      <profile-sidebar class="profile-left"></profile-sidebar>
      <!-- End Profile Left Menu -->
      <!-- Begin Profile Content -->
      <div class="profile-content">
        <h1>Policies</h1>
        <div class="content-wrapper defaultScroll" mcustom-scroll="{ 'theme': theme, 'autoHide': autoHide}">
          <div class="content_box">
            <h2>Terms of service</h2>
            <div class="content_box_inner">
              <div class="content_box_inner_scrl defaultScroll" mcustom-scroll="{ 'theme': theme, 'autoHide': autoHide}">
                <p>
				  * To cancel or amend an order you will need to contact the retailer directly. Please review
                        individual
                        store's return policy. Socially Shoppable is not responsible for any problem.
                        If the order cannot be placed due to a technical issue, please
                        email customercare@ss.com and we will look into it with immediate action.
                </p>
				<p>Coming Soon </p>
				
				  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


