<!-- API PRODUCTS -->
   <div style="overflow:auto;height:auto;">
  

 <div class=left style="margin-top:14vh;width:20%;float:left;padding-left:1%;padding-top:5%;padding-right:1%;">

<label>
    <input type="radio" ng-model="product.gender" value="1" >
    Male
  </label>
  <label>
    <input type="radio" ng-model="product.gender" ng-value="2">
    Female
  </label>
  <label>
    <input type="radio" ng-model="product.gender" value="0">
    Unisex
  </label><br/>

<b>Brand</b>	<br>
<select ng-model="product.brand"> 
 <option value="{{product.brand}}" selected>{{product.brand}}</option> 
  <option value="Avon">Avon</option>
  <option value="Generic">Generic</option>
   <option value="Huggies">Huggies</option>
   <option value="Mainstays">Mainstays</option>
   <option value="Lakeview Outdoor Designs"> Lakeview Outdoor Designs  </option>
</select><br>


<b>COLOR</b>	<br>

<!--
<a ng-click="toggleFilter(color)" class="color-choice red not-active" ng-repeat="color in colors" ng-if="color.count" active="color.active">
          
        </a>-->
<div class="colorpanel" style="background-color:grey;width:90%;">
<div id=black style="height:30px;width:30px;background-color:black;float:left;margin:1px;" ng-click="setColor('black')"></div>

<div id=red style="height:30px;width:30px;background-color:red;float:left;margin:1px;" ng-click="setColor('red')"></div>
<div id=pink style="height:30px;width:30px;background-color:pink;float:left;margin:1px;" ng-click="setColor('pink')"></div>

<div id=orange style="height:30px;width:30px;background-color:orange;float:left;margin:1px;" ng-click="setColor('orange')"></div>
<div id=yellow style="height:30px;width:30px;background-color:yellow;float:left;margin:1px;" ng-click="setColor('yellow')"></div>

<div id=green style="height:30px;width:30px;background-color:green;float:left;margin:1px;" ng-click="setColor('green')"></div>
<div id=SkyBlue style="height:30px;width:30px;background-color:SkyBlue;float:left;margin:1px;" ng-click="setColor('SkyBlue')"></div>
<div id=blue style="height:30px;width:30px;background-color:blue;float:left;margin:1px;" ng-click="setColor('blue')"></div>
<div id=Purple style="height:30px;width:30px;background-color:Purple;float:left;margin:1px;" ng-click="setColor('Purple')"></div>
<div id=white style="height:30px;width:30px;background-color:white;float:left;margin:1px;" ng-click="setColor('white')"></div>

 
</div>
<br>
<div style="width:90%;float:left;">
<select ng-model="product.color" style="float:left;width:100%;">
   <option value="">All</option> 

   <option value="black">black</option>
  <option value="red">red</option>
   <option value="pink">pink</option>
    <option value="orange">orange</option>
  <option value="yellow">yellow</option>
   <option value="green">green</option>
    <option value="SkyBlue">SkyBlue</option>
  <option value="blue">blue</option>
   <option value="Purple">Purple</option>
   <option value="white">white</option>
   
</select><br>




</div>
<div style="width:90%;float:left;">
<b>Retailer</b><br>
<select ng-model="product.merchant" style="width:100%;" >
   <option value="{{product.merchant}}" selected>{{product.merchant}}</option> 
   <option value="">ALL</option> 
  <option value="Avon">Avon</option>
  <option value="BabyEarth">BabyEarth</option>
 <option value="7 For All Mankind"> 7 For All Mankind</option>
<option value="Aldo">Aldo</option>
<option value="Allen Edmonds">Allen Edmonds </option>
<option value="American Apparel"> American Apparel</option>
<option value="American Eagle Outfitters">American Eagle Outfitters	</option>
<option value="Ann Taylor">Ann Taylor</option>
<option value="Anthropologie">Anthropologie</option>
<option value="ashford">ashford	</option>
<option value="Athleta">Athleta	</option>
<option value="Avon">Avon</option>
<option value="BabyEarth">BabyEarth </option>
<option value="Backcountry">Backcountry</option>
<option value="Banana Republic">Banana Republic	</option>
<option value="Barneys New York"> Barneys New York</option>
<option value="Beauty.com">Beauty.com</option>
<option value="bebe">bebe</option>
<option value="Bench">Bench</option>
<option value="BeWild">BeWild</option>
<option value="Bloomingdale's UK">Bloomingdale's UK	</option>
<option value="Bluefly">Bluefly</option>
<option value="Boden">Boden </option>
<option value="Bodycandy Body Jewelry">Bodycandy Body Jewelry</option>
<option value="Boutique To You"> Boutique To You</option>
<option value="Brooks Brothers"> Brooks Brothers</option>
<option value="Buffalo David Bitton"> Buffalo David Bitton</option>
 <option value="Gap">Gap </option>
 <option value="Overstock.com">Overstock.com </option>
 <option value="Walmart">Walmart </option>
</select>
</div>

</div>

	<div class=middle style="width:70%;float:left;margin-top:14vh;overflow:scroll;">
    
	
          <!--{{CatId}}-->
	 
      <div id=ind_pro style="width:80%;">
      
	  
		<div ng-repeat="pro in product" class=lft style="width:100%;padding:5%;float:left;">
        <h1 style="font-size:100%;"><a ng-href="#/apiproduct/{{pro.productId}}"> {{ pro.keyword }} </a> </h1>
         <h2 style="font-size:100%;">productId {{ pro.productId }} <br></h2>
		
		<h3 style="font-size:100%;"><a ng-href="#/apicat/{{pro.catalogId }}"> {{ pro.catalogId}} </a> </h3> 
	     <img src="{{pro.image_url}}" alt="{{pro.keyword }}" title="{{pro.keyword }}" class="search-result-item-image" style="width:100%;"></a>  
  		 <input type=checkbox  ng-model="pro.checkbx"><br>
          

		 Brand {{ pro.brand }} <br>
         category {{ pro.category }} <br>
    	
			 <div ng-hide="pro.price_sale ==''">Price {{ pro.currency }} {{ pro.price_sale }} <strike>{{ pro.currency }} {{ pro.price }}</strike> 
			 </div>
			<div ng-show="pro.price_sale ==''">{{ pro.currency }} {{ pro.price }}
			</div> 
		 Merchant {{ pro.merchant }} <br>
		 <!-- CatalogId {{ pro.catalogId }} <br>-->
		Prosperent availability  {{ pro.prosper_availability }}
		Twotap availability {{ pro.availability }}
	     
         <strong>  Affiliate url  </strong><a ng-href="{{ pro.affiliate_url}}" target="_blank">  {{ pro.affiliate_url}} </a>
	Url :	{{pro.url}}
		 		 <strong>Color</strong> {{pro.color }}  &nbsp; &nbsp;&nbsp; 
HEX Color : {{pro.colorcode }}
		 <p> <strong> <u>Description </u> </strong> <br> <textarea name="description" ng-model="pro.description" rows=5 cols=90 > </textarea> 
	
	      
      
		
		
		</div>
		

       

	</div>  
	


		<input type=button value="Save ALL" ng-click="saveMultiProducts(1)">
       	<input type=button value="Save Selected" ng-click="saveMultiProducts(2)">

	

</div>
	




</div>
