
	<div class=x style="width:40%;float:left;margin-left:15%;margin-top:14vh;">
		<div class='container-fluid' >
     <h3>Synchronize Categories</h3>
	 <p>Description</p>
		<p> This will import all prosperent Categories, Sub categories inside SS database. It will also relate category with subcategory inside database </p>
	 
		<input type=button ng-click="sync_categories()" value="Synchronize Categories With Prosperent Categories">	
			
			  
			
		</div>
	</div>
		<!-- end: REGISTRATION -->

		
		


