
	<div class=x style="width:40%;float:left;margin-left:15%;margin-top:14vh;">
		<div class='container-fluid' >
         <h3>Synchronize Products</h3>
		 <p>Description</p>
		<p> This feature will import all prosperent products under admin's preferred settings save all products inside product_sync category wise (CategoryProsperentSync table will be used). Maximum 10000 can be saved under a category</p>
		 
		<input type=button ng-click="sync_products()" value="Synchronize Prosperent Products">	
			
			  
			
		</div>
	</div>
		<!-- end: REGISTRATION -->

		
		


