
	<div class=x style="width:40%;float:left;margin-left:15%;margin-top:14vh;">
		<div class='container-fluid' >
			 <h3>Import Stores From Folder resourcefiles/twotapMerchant.csv </h3>
			<p>Description</p>
			<p> This feature will import twotap stores inside database for data analysis</p>
		    <input type=button ng-click="import_twotap_store()" value="Import Twotap Store">



			<h3>Import Stores From Folder resourcefiles/commonMerchant.csv </h3>
			<p>Description</p>
			<p> This feature will import only those prosperent merchants who support twotap checkout system. Store list has been imported from csv file. </p>
		    <input type=button ng-click="sync_store_common()" value="Import Common Store">	
			
			  
			
		</div>
	</div>
		<!-- end: REGISTRATION -->

		
		


