.lm-letters { 
	overflow:hidden; 
}
.lm-letters a { 
	font-size:16px; 
	display:block; 
	float:left; 
	padding:2px 6px; 
	font-family: 'calibri';
	text-decoration:none;
	color: 	#231f20;
}
.lm-letters a:hover,
.lm-letters a.lm-selected { background-color:#eaeaea; }
/* .lm-letters a.lm-disabled { color:#ccc; } */
.lm-letter-count { text-align:center; font-size:0.8em; line-height:1; margin-bottom:3px; color:#336699; display: none; }
.lm-wrapper .lm-menu { border:1px solid silver; border-top:1px solid silver; padding:15px; z-index:10; position:absolute; margin-top:-1px; background:#ffc; display:none; }
.lm-wrapper .lm-menu ul li { list-style-type:none; margin-bottom:5px; font-size:0.9em }
.lm-wrapper .lm-menu ol li { margin-left:15px; }
.lm-wrapper .lm-menu .lm-no-match { color:green; }
.lm-wrapper .lm-menu a { text-decoration:none; }
.lm-wrapper .lm-menu a:hover { text-decoration:underline; }
.lm-wrapper .lm-menu .lm-submenu { overflow:hidden; }

/* extra styling for some of the specific demos
------------------------------------------------------------------ */

#demo5-menu .lm-menu div div div div { border:1px solid silver; padding:5px; margin-bottom:1em; }
#demo5-menu .lm-menu div div div a { display:block; margin-bottom:1em; }
#demo5-menu .lm-menu div div div p.subtitle { font-weight:bold; color:blue; }

#demo6-menu .lm-menu ul li { border:1px solid silver; padding:5px; }
#demo6-menu .lm-menu ul li a { font-weight:bold; }
#demo6-menu .lm-menu ul li p { padding-bottom:0; }
