<% include header.html %>

  <tr><td style="font-size:16px;line-height:22px; font-weight:700;font-family:'PT Sans','trebuchet ms', sans-serif;text-align:left; color:#69666d;">Dear <%= displayName %>,</td></tr>
  <tr><td height="10" style="line-height:10px;font-size:10px"></td></tr>
  <tr><td style="font-size:13px;line-height:18px;font-family:'PT Sans','trebuchet ms', sans-serif;text-align:left; color:#69666d;">

    <p>Socially Shoppable received a request to reset your password.</p>

    <p>To reset your password, click <a href="<%= domain %><%= link %>">this link</a> or copy the URL below and paste it into your web browser's navigation bar:</p>

    <p><%= domain %><%= link %></p>

    <p>You will need to enter your new password both at that URL and again to log in to your account. Keep this in mind, and be sure you enter your password correctly both times.</p>

    <p>If you didn't request a password reset, please follow <a href="<%= domain %><%= linkReset %>">this link</a> to deactivate the password reset request.</p>

    <p>Thank you,<br/>
      Socially Shoppable</p>

  </td></tr>

<% include footer.html %>
