<div  class="mid_content" ng-class="loggedin ==1?'dashboard_page':'home_page'">

  <div class="container_inner clearfix">


          <section ng-class="loggedin ==1?'top_section has_sidebar':'top_section'">
              <user-sidebar></user-sidebar>

              <!-- dashboard -->
              <div class="dashboard_container">
                  <div class="carousel stage sliderLoading" id="carouselStage" stage-slider></div>
                  <div id="spCarouselStage" class="hide">
                      <ul class="slides">
                          <li ng-repeat="store in sliderlist track by $index">
                              <div class="stage_show">
                                  <img ng-src="images/images_webshot/{{store.domain}}.jpg" alt="{{store.merchant}}" title="{{store.merchant}}" />
                                  <!-- <img ng-src="images/dashboard-slider/{{store.domain}}.jpg" alt="{{store.merchant}}" title="{{store.merchant}}" /> -->
                                  <a href="#!/storechosen/{{store.merchant}}" class="btn white_btn">SHOP NOW</a>
                              </div>
                          </li>
                      </ul>
                  </div>


                  <!-- End stage carousel -->
                  <div class="stage_navigation">
                      <h2 ng-bind="'Top 10 '+menuClicked"> </h2>
                      <div class="nav_carousel">
                          <div class="carousel carousel_store1" id="StageNavCarousel" thumb-slider></div>
                          <div id="spStageNavCarousel" class="hide">
                              <ul class="stage_nav">
                                  <li ng-repeat="store in sliderlist track by $index">
                                      <!-- <div class="n_thumbnail product-info" ng-click="menuCategoryStoreSearchApi(menuClicked,store.merchant)"> -->
                                      <div class="n_thumbnail product-info">
                                          <!-- <div class="thumbnail-img" style="background-image:url('images/dashboard-slider/{{store.domain}}.jpg');"> -->
                                          <div class="thumbnail-img" style="background-image:url('images/images_webshot/{{store.domain}}.jpg');">
                                          <!--    <a ng-click="menuShopApi('',store.merchant)" class="white_btn btn">Shop</a> -->
                                          <a merchant="{{store.merchant}}" class="white_btn btn">Shop</a>

                    </div>
                                          <!-- <ul class="shared_icons"> -->
                                              <!-- <li> -->
                                                  <!-- <i class="icon grey_heart"></i> -->
                                                  <!-- <span>123</span> -->
                                              <!-- </li> -->
                                              <!-- <li> -->
                                                  <!-- <i class="icon grey_arrow"></i> -->
                                                  <!-- <span>456</span> -->
                                              <!-- </li> -->
                                              <!-- <li> -->
                                                  <!-- <i class="icon grey_bag"></i> -->
                                                  <!-- <span>789</span> -->
                                              <!-- </li> -->
                                          <!-- </ul> -->
                                          <div class="thumb_caption"><a href="#!/storechosen/{{store.merchant}}" ng-bind="store.merchant"></a></div>
                                      </div>
                                  </li>
                                  <li>
                                     <div class="n_thumbnail product-info sync_item" onClick="window.location.href = '#!/customizeshop'">
                                          <div class="img-wrap"><a class="linkbtn" ng-click="customize_shop(menuClicked)">Customize my top 10</a></div>
                                      </div>
                                  </li>

                              </ul>
                          </div>
                      </div>
                  </div>
              </div>


          </section>

          <!-- End store section -->








          <section class="products_wrap">
              <div class="select_product_cat">
                  <label>SORT BY</label>
                  <div class="defaultSt" ng-class="{showTooltip : tooltipShow}">
                      <select ng-model="sortorder" ng-change="update_sorting(sortorder)" ng-class="{fRedHeart : sFavorite}" convert-to-number>
                          <option value="0" ng-class="{hide : loggedin != 1}">Favourites</option>
                          <option value="1">Low to High</option>
                          <option value="2">High to Low</option>
                          <option value="3">Newest First</option>
                          <option value="4">Customer Rating</option>
                          <option value="5">Most Shared</option>
                          <option value="6">Most Popular</option>
                          <option value="7">Bestseller</option>
                          <option value="8">% off Sale</option>
             <option value="9">Relevance</option>

                      </select>
                      <div class="e-tooltip">Coming Soon!</div>
                  </div>
                  <div class="view_all">
                      <span class="viewAt_time">View 80</span>
                      <a ng-click="viewPagination('prev')" title="Previous" class="prev view-page"></a>
                      <a ng-click="loadMore($event,$index + 1)" ng-class="{active:activePage == $index + 1}"  ng-repeat="x in [] | range: numPages-1" ng-show=" $index < current_limit && $index >= current_limit -3">{{$index + 1}}</a>
                      <span>...</span>
                      <a ng-click="loadMore($event,numPages)" ng-class="{active:activePage == numPages}">{{numPages}}</a>
                      <a ng-click="viewPagination('next')" title="Next" class="next view-page"></a>
                  </div>
              </div>

              <div class="product_group" ng-class="{'ss_loading' : !loaddone,'showInCenter':currentpage>1}">
                  <div class="product_group_inner clearfix" ng-if="loggedin==1">
                      <div class="col_3" ng-repeat="pro in products track by $index" ng-class="{pageLastPro : ($index+1)%limit == 0 && $index!=0}">
            <div class="product-info">
                              <div class="product-image">
                                  <div class="p_image_innner p_image_bg" style="background-image: url({{(pro.image_url ? pro.image_url : '')}})">
                                      <div class="rateit">
                                          <div class="rateis r{{pro.rateAvg| makePositive}}">
                                          </div>
                                      </div>
                                      <a class="quick-product" data-toggle="modal" data-target="#quick-popup" ng-click="set_current_product_common_sim(proMd5,item,prokey,wsitekey,pro)">+</a>
                                 </div>
                              </div>
                              <div class="zoomed_s_icons_wrap dsktp_hide">
                                  <ul class="zoomed_s_icons">
                                      <li>
                                          <i class="icon grey_heart"></i>
                                           <span ng-bind="pro.likeCount || '0'"></span>

                  </li>
                                      <li>
                                          <i class="icon grey_arrow"></i>
                    <span ng-bind="pro.shareCount || '0'"></span>
                                      </li>
                                      <li>
                                          <i class="icon grey_bag"></i>
                    <span ng-bind="pro.ratedByUser || '0'"></span>

                                      </li>
                                  </ul>
                              </div>

                              <ul class="shared_icons" >

                 <li ng-click="openSocialPopup(pro, 'like', $event)" ng-class="{active: pro==socialPopupProduct && socialPopupTab==='like'}">
                                      <i class="icon grey_heart" ng-class="{activated: (pro.likeUser|| favCataloglist.indexOf(pro.catalogId) > -1  )}"></i>
                                      <span ng-bind="pro.likeCount || '0'"></span>
                                  </li>
                                  <li ng-click="openSocialPopup(pro, 'mail', $event)" ng-class="{active: pro==socialPopupProduct && socialPopupTab==='mail'}">
                                      <i class="icon grey_arrow" ng-class="{activated: (pro.mailUser || mailCatalogList.indexOf(pro.catalogId) > -1)}"></i>
                                      <span ng-bind="pro.shareCount || '0'"></span>
                                  </li>
                                  <li ng-click="openSocialPopup(pro, 'collective', $event)" ng-class="{active: pro==socialPopupProduct && socialPopupTab==='collective'}">
                                      <i class="icon grey_bag" ng-class="{activated: (pro.rateUser || reviewCataloglist.indexOf(pro.catalogId) > -1 )}"></i>
                                      <span ng-bind="pro.ratedByUser || '0'"></span>
                                  </li>

                              </ul>
                              <ul class="product-details">
                                  <li>
                                     <a ng-href="#!/SOC/{{pro.catalogId }}/{{ pro.keyword | slugify}}" title="{{pro.keyword}}" alt="{{pro.keyword}}" ng-bind-html="pro.keyword"></a>
                                  </li>
                                  <li><a ng-bind="pro.brand"></a></li>
                                  <li><a ng-href="#!/storechosen/{{pro.merchant}}" ng-bind="pro.merchant"></a></li>
                <li class="price">
                                      <span ng-class="{lineThrough: pro.price_sale>-1&&pro.price_sale!=null}" ng-bind="'$' + pro.price"></span>
                                      <span ng-show="pro.price_sale>-1 && pro.price_sale!=null" ng-bind="'$'+ pro.price_sale" class="sale-price"></span>
                                  </li>

             <!--<li>   {{pro.category}} </li> -->
              </ul>
                          </div>
                           <div class="loading" ng-class="($index+1)%limit == 0 && $index+1 != numPages*limit || $index == 0  ?'':'ng-hide'" ng-attr-id="{{($index+1)%limit == 0 && $index+1 != numPages*limit || $index==0 ? 'targetNo' + productPageNo($index,limit) : ''}}">
                               <div class="loading-inner">
                                  <div class="prev_bx" ng-click="goToTarget( $event, productPageNo($index,limit) - 1 )">
                                      <i class="icon up_arrow"></i>
                                  </div>
                                  <div class="load_more" ng-click="loadMore($event,($index+1)/limit + ($index+1 == maxIndex ? 1 : 2) )">
                                      <span ng-show="$index+1 === maxIndex">Load More</span>
                                      <span class="loading_dot" ng-show="!loaddone">Loading</span>
                                      <span ng-show="$index+1 !== maxIndex && loaddone">PAGE <span ng-bind="productPageNo($index,limit)"></span><!--/ {{($index+1)/limit}}-->/{{numPages}}</span>
                                  </div>
                                  <div class="next_bx" ng-click="loadMore($event,productPageNo($index,limit) + ($index+1 == maxIndex ? 0 : 1))">
                                      <i class="icon down_arrow"></i>
                                  </div>
                               </div>
                            </div>
                      </div>
                  </div>


          <div class="product_group_inner clearfix" ng-if="loggedin!=1">
                      <div class="col_3" ng-repeat="pro in products track by $index" ng-class="{pageLastPro : ($index+1)%limit == 0 && $index!=0}">
            <div class="product-info">
                              <div class="product-image">
                                  <div class="p_image_innner p_image_bg" style="background-image: url({{(pro.image_url ? pro.image_url : '')}})">
                                      <div class="rateit">
                                          <div class="rateis r{{pro.rateAvg| makePositive}}">
                                          </div>
                                      </div>
                                      <a class="quick-product" data-toggle="modal" data-target="#quick-popup" ng-click="set_current_product_common_sim(proMd5,item,prokey,wsitekey,pro)">+</a>
                                 </div>
                              </div>
                              <div class="zoomed_s_icons_wrap dsktp_hide">
                                  <ul class="zoomed_s_icons">
                                      <li>
                                          <i class="icon grey_heart"></i>
                                           <span ng-bind="pro.likeCount || '0'"></span>

                  </li>
                                      <li>
                                          <i class="icon grey_arrow"></i>
                    <span ng-bind="pro.shareCount || '0'"></span>
                                      </li>
                                      <li>
                                          <i class="icon grey_bag"></i>
                    <span ng-bind="pro.ratedByUser || '0'"></span>

                                      </li>
                                  </ul>
                              </div>

                              <ul class="shared_icons" >


                 <li ng-click="openSocialPopup(pro, 'like', $event)" ng-class="{active: pro==socialPopupProduct && socialPopupTab==='like'}">
                                      <i class="icon grey_heart"></i>
                                      <span ng-bind="pro.likeCount || '0'"></span>
                                  </li>
                                  <li ng-click="openSocialPopup(pro, 'mail', $event)" ng-class="{active: pro==socialPopupProduct && socialPopupTab==='mail'}">
                                      <i class="icon grey_arrow"></i>
                                      <span ng-bind="pro.shareCount || '0'"></span>
                                  </li>
                                  <li ng-click="openSocialPopup(pro, 'collective', $event)" ng-class="{active: pro==socialPopupProduct && socialPopupTab==='collective'}">
                                      <i class="icon grey_bag"></i>
                                      <span ng-bind="pro.ratedByUser || '0'"></span>
                                  </li>

                              </ul>
                              <ul class="product-details">
                                  <li>
                                     <a ng-href="#!/SOC/{{pro.catalogId }}/{{ pro.keyword | slugify}}" title="{{pro.keyword}}" alt="{{pro.keyword}}" ng-bind-html="pro.keyword"></a>
                                  </li>
                                  <li><a ng-bind="pro.brand"></a></li>
                                  <li><a ng-href="#!/storechosen/{{pro.merchant}}" ng-bind="pro.merchant"></a></li>
                <li class="price">
                                      <span ng-class="{lineThrough: pro.price_sale>-1&&pro.price_sale!=null}" ng-bind="'$' + pro.price"></span>
                                      <span ng-show="pro.price_sale>-1 && pro.price_sale!=null" ng-bind="'$'+ pro.price_sale" class="sale-price"></span>
                                  </li>

             <!--<li>   {{pro.category}} </li> -->
              </ul>
                          </div>
                           <div class="loading" ng-class="($index+1)%limit == 0 && $index+1 != numPages*limit || $index == 0  ?'':'ng-hide'" ng-attr-id="{{($index+1)%limit == 0 && $index+1 != numPages*limit || $index==0 ? 'targetNo' + productPageNo($index,limit) : ''}}">
                               <div class="loading-inner">
                                  <div class="prev_bx" ng-click="goToTarget( $event, productPageNo($index,limit) - 1 )">
                                      <i class="icon up_arrow"></i>
                                  </div>
                                  <div class="load_more" ng-click="loadMore($event,($index+1)/limit + ($index+1 == maxIndex ? 1 : 2) )">
                                      <span ng-show="$index+1 === maxIndex">Load More</span>
                                      <span class="loading_dot" ng-show="!loaddone">Loading</span>
                                      <span ng-show="$index+1 !== maxIndex && loaddone">PAGE <span ng-bind="productPageNo($index,limit)"></span><!--/ {{($index+1)/limit}}-->/{{numPages}}</span>
                                  </div>
                                  <div class="next_bx" ng-click="loadMore($event,productPageNo($index,limit) + ($index+1 == maxIndex ? 0 : 1))">
                                      <i class="icon down_arrow"></i>
                                  </div>
                               </div>
                            </div>
                      </div>
                  </div>



      </div>
          </section>

          <!-- End Product section -->

          <div class="happy_shopping">
              <a href="#!/" role="button" alt="Socially Shoppable">HAPPY SHOPPING<i class="icon"></i></a>
          </div>



      </div>

  </div>
