<div class="mid_content company-page">
  <div class="container_inner clearfix">
    <ul class="breadcrumbs no_border">
      <li><a href="#!/account">My Account</a></li>
      <li>Company</li>
    </ul>
    <div class="profile-container">
      <!-- Begin Profile Left Menu -->
      <profile-sidebar class="profile-left"></profile-sidebar>
      <!-- End Profile Left Menu -->
      <!-- Begin Profile Content -->
      <div class="profile-content">
        <h1>COMPANY</h1>
        <div class="content-wrapper defaultScroll" mcustom-scroll="{ 'theme': theme, 'autoHide': autoHide}">
          <div class="content_box">
            <h2 id="about">About</h2>
            <div class="content_box_inner">
              <div class="content_box_inner_scrl defaultScroll" mcustom-scroll="{ 'theme': theme, 'autoHide': autoHide}">
<p>Socially Shoppable is a ecommerce site where you can purchase products from different  merchant and different brand using single checkout system</p>
<p>Coming Soon !</p>

			   <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, doloribus, porro. Explicabo eos saepe eligendi inventore laudantium et a mollitia blanditiis eveniet dolores, possimus omnis necessitatibus tenetur voluptatem pariatur quam.</p> -->
                <!-- <p>Ad omnis eveniet, eum, sunt ipsa officiis dolore fugiat fuga ipsam praesentium natus nostrum velit libero perspiciatis et at eos ut nihil odio dolorum. Non, alias explicabo animi! Natus, autem.</p> -->
                <!-- <p>Porro quo cupiditate sequi eaque! Neque amet est aut iure, ab animi, doloribus magni dicta eaque dolorem officia fugiat quis consequuntur et dolorum illo soluta maiores facere molestiae incidunt earum.</p> -->
                <!-- <p>Nesciunt illo, similique doloremque? Consequatur, in. Laudantium optio, dicta dolores eos quia corrupti, rem quod accusantium veritatis ea sit fugit deleniti, mollitia maiores porro sapiente facere aut incidunt, minima officiis?</p> -->
                <!-- <p>Eum cum harum ad velit eos, dolor doloremque, laudantium, nesciunt quo dicta veritatis delectus minus ab totam dignissimos. Delectus molestias neque nihil illo perspiciatis ex, est reiciendis tempora deleniti ullam?</p> -->
                <!-- <p>Nesciunt iste libero facilis magni dolores accusantium in, fuga beatae quisquam, doloremque animi saepe dolore ipsa quibusdam porro ratione quo! At quia omnis temporibus repudiandae illum assumenda nobis! Quae, doloribus!</p> -->
                <!-- <p>Deleniti nemo ratione repellendus hic voluptates consectetur maxime fugiat ex eligendi maiores, corrupti facilis dolores eos! Fuga in ab molestias provident soluta itaque dolore aspernatur quo maiores! Asperiores, sapiente, iure.</p> -->
                <!-- <p>Sit temporibus, aperiam expedita accusantium rerum nostrum porro exercitationem maiores soluta repellendus repudiandae laborum fugit recusandae aliquid non ratione? Maxime minus dolor doloribus soluta sint temporibus, quasi ratione recusandae nisi!</p> -->
              </div>
            </div>
          </div>
          <div class="content_box">
            <h2 id="faq">FAQ</h2>
            <div class="content_box_inner">
              <div class="content_box_inner_scrl defaultScroll" mcustom-scroll="{ 'theme': theme, 'autoHide': autoHide}">

                <p>Why Should you use our site?</p>
                <p>
				<ul>
				<li>You can purchase product from multiple merchants/ brands in a single platform</li>
				<li>Using single checkout method, you can do the job done</li>
			    <li>You can have presonalized shopping expreience in this site</li>
			    <li>While you are shopping, you are also remain socially connected</li>


				</ul>


				</p>
				  <p>Is this web site can give you presonalized expereience?</p>
                  <p>You need to click customize shop button, and choose your top ten store to have personalized shopping experience</p>

				<p>Coming Soon !</p>




			  </div>
            </div>
          </div>

        </div>
      </div>
    </div>


  </div>

</div>
